.container
  #aboutLogo
    = render partial: 'static_pages/link_logo'
  %h1 Language Maps
  %table.table.table-hover
    %thead.thread-dark
      %th{ scope: 'col' } Base Language
      %th{ scope: 'col' } Target Language
      %th{ scope: 'col' }
    %tbody
      - @language_maps.each do |language_map|
        %tr
          %td= language_map.base_language.name
          %td= language_map.target_language.name
          %td= link_to 'Show', admin_language_map_path(language_map)
  = link_to 'Back to Admin', admin_path
